@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #631942;
  background-attachment: fixed;
}

body {
  background: transparent;
  font-family: var(--font-sans);
}
